
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <title>Roker  - Software, Technology , Corporate, Creative, Multi-Purpose, Responsive And Retina Html5/css3 Template</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Roker  - Corporate, Creative, Multi Purpose, Responsive And Retina Template">
    <meta name="author" content="iwthemes.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Theme CSS -->
    <link type="text/css" media="screen" rel="stylesheet" href="~/Content/UI/css/style.css" />
    <!-- Responsive CSS -->
    @*<link type="text/css" media="screen" rel="stylesheet" href="~/Content/UI/css/theme-responsive.css" />*@

    @* Varsayılan *@
    @*<link href="~/Content/UI/css/skins/blue/blue.css" rel="stylesheet" />*@

    @*<link href="~/Content/UI/css/skins/red/red.css" rel="stylesheet" />*@

    @Styles.Render("~/bundles/StyleCss")

    @Styles.Render("~/bundles/CssTheme")

    <!-- Skins Theme -->
    <link type="text/css" media="screen" rel="stylesheet" href="#" class="skin_color" />

    <!-- Head Libs -->
    <script src="~/Content/UI/js/modernizr.js"></script>

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Content/UI/img/icons/favicon.ico">
    <link rel="apple-touch-icon" href="~/Content/UI/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/UI/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/UI/img/icons/apple-touch-icon-114x114.png">

    <link href="~/Content/UI/css/icons/font-awesome.min.css" rel="stylesheet" />


    @*<img src="~/Content/UI/img/logo.png" />*@

    <!-- styles for IE -->
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="~/Content/UI/css/ie/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="~/Content/UI/js/responsive/html5shiv.js"></script>
        <script src="~/Content/UI/js/responsive/respond.js"></script>
    <![endif]-->
</head>
<body>

    <!--Preloader-->
    <div class="preloader">
        <div class="status">&nbsp;</div>
    </div>
    <!--End Preloader-->

    <!-- Theme-options -->
      @Html.Partial("ThemeOptionsPartial")
    <!-- End Theme-options -->

    <!-- layout-->
    <div id="layout" class="layout-wide">
        <!-- Login Client -->


        @Html.Partial("LoginClientPartial")

        @*<div class="jBar">
                <div class="container">


                </div>
            </div>*@
        <span class="jRibbon jTrigger up" title="Login"><i class="fa fa-plus"></i></span>
        <div class="line"></div>
        <!-- End Login Client -->
        <!-- Info Head -->
        @Html.Partial("InfoHeadPartial")
        <!-- Info Head -->
        <!-- Header-->
        @*@Html.Partial("HeadPartial")*@

        @*View Tarafında Bir Action Çağırma*@

        @Html.Action("HeadPartial", "Home")

        <!-- End Header-->
        <!-- Title Section -->
        @Html.Partial("TitleSectionPartial")
        <!-- End Title Section -->
        <!-- Works -->
        <section class="paddings">
            <div class="container">
                <div class="row">

                    <!-- Blog Post -->
                    @* Blog post ındex içerisine taşındı  *@

                    <div class="col-md-8">
                        @RenderBody()
                    </div>
                 
                    <!-- End Blog Post -->
                    <!-- Sidebars -->
                    <div class="col-md-4 sidebars">

                        @*<aside>
                            <h4>Searh Sidebar</h4>
                            <form class="search" action="#" method="Post">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search..." name="email" type="email" required="required">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                                    </span>
                                </div>
                            </form>
                        </aside>*@

                        <hr>

                        <aside>
                           @Html.Action("RightCategoryPartial", "Home")
                        </aside>

                        @Html.Action("GetAllTags", "Tag")

                        @Html.Action("PopularAndRecentPartial", "CategoryDetail")


                        @Html.Action("RecentFlickrImages", "Home")

                        <hr>

                        @* Right Widget text *@

                        @Html.Action("GetRightWidget", "PageSection")

                    </div>
                    <!-- End Sidebars -->


                </div>
            </div>
            <!-- End Container-->
        </section>
        <!-- End Works-->
        <!-- footer top-->
        @Html.Partial("FooterTopPartial")
        <!-- End footer Top-->
        <!-- footer Center-->

        @Html.Partial("FooterCenter")
        <!-- End footer Center-->
        <!-- footer bottom-->
        @Html.Partial("FooterBottom")
        <!-- End footer bottom-->
    </div>
    <!-- End layout-->
    <!-- ======================= JQuery libs =========================== -->

    @Scripts.Render("~/bundles/js")

    @*
        <!-- jQuery local-->
        <script src="~/Content/UI/js/jquery.js"></script>

        <script type="text/javascript" src="~/Content/UI/js/jquery.js"></script>
        <!--Nav-->
        <script type="text/javascript" src="~/Content/UI/js/nav/tinynav.js"></script>
        <script type="text/javascript" src="~/Content/UI/js/nav/superfish.js"></script>
        <script type="text/javascript" src="~/Content/UI/js/nav/hoverIntent.js"></script>
        <script src="~/Content/UI/js/nav/jquery.sticky.js" type="text/javascript"></script>
        <!--Totop-->
        <script type="text/javascript" src="~/Content/UI/js/totop/jquery.ui.totop.js"></script>
        <!--Slide Revolution-->
        <script type="text/javascript" src="~/Content/UI/js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script type='text/javascript' src='~/Content/UI/js/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
        <!--Ligbox-->
        <script type="text/javascript" src="~/Content/UI/js/fancybox/jquery.fancybox.js"></script>
        <!-- carousel.js-->
        <script src="~/Content/UI/js/carousel/carousel.js"></script>
        <!-- Twitter Feed-->
        <script src="~/Content/UI/js/twitter/jquery.tweet.js"></script>
        <!-- flickr Feed-->
        <script src="~/Content/UI/js/flickr/jflickrfeed.min.js"></script>
        <!--Scroll-->
        <script src="~/Content/UI/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Maps -->
        <script src="~/Content/UI/js/maps/gmap3.js"></script>
        <!-- Filter -->
        <script src="~/Content/UI/js/filters/jquery.isotope.js" type="text/javascript"></script>
        <!-- Parallax-->
        <script type="text/javascript" src="~/Content/UI/js/parallax/jquery.inview.js"></script>
        <script type="text/javascript" src="~/Content/UI/js/parallax/nbw-parallax.js"></script>
        <!--Theme Options-->
        <script type="text/javascript" src="~/Content/UI/js/theme-options/theme-options.js"></script>
        <script type="text/javascript" src="~/Content/UI/js/theme-options/jquery.cookies.js"></script>
        <!-- Bootstrap.js-->
        <script type="text/javascript" src="~/Content/UI/js/bootstrap/bootstrap.js"></script>
        <!--MAIN FUNCTIONS-->
        <script type="text/javascript" src="~/Content/UI/js/main.js"></script>
        <!-- ======================= End JQuery libs =========================== -->
    *@
</body>
        </html>
