
@{
    ViewBag.Title = "PostByTag";
}


@using Blog.Model.ResponseModel
@using PagedList
@using PagedList.Mvc
@model IPagedList<CategoryDetailResponseModel>
@{
    /**/

    ViewBag.Title = "PostByCategory";
}

<!-- Blog Post -->
@foreach (var item in Model)
{
    <article class="post">
        <div class="row">
            <!-- Image  post -->
            <div class="col-md-5">
                <!-- Image Post  -->
                <div class="post-image">
                    <!-- Simple-slide -->
                    <div id="carousel-example-generic" class="carousel slide bs-docs-carousel-example">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/UI/img/works/1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/UI/img/works/2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="~/Content/UI/img/works/3.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <!-- End Simple-slide -->
                </div>
                <!-- End Image Post  -->
            </div>
            <!-- End Image  post -->
            <!-- Info post -->
            <div class="col-md-7">
                <h3>
                    <a href="blog-post.html">
                        @Blog.Helper.StringHelper.ShortenedStringWordsAndThreeDot(@item.Header, 35)
                    </a>
                </h3>
                <!-- Post Meta -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> Nov 10, 2012 </span>
                            <span><i class="fa fa-user"></i> By <a href="#">Admin</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a></span>
                            <span><i class="fa fa-comments"></i> <a href="#">(12)</a></span>
                        </div>
                    </div>
                </div>
                <!-- End Post Meta -->
                <p>

                    @Blog.Helper.StringHelper.ShortenedStringWordsAndThreeDot(@item.Content, 210)
                </p>
                <a href="blog-post.html" class="btn btn-primary">Read more...</a>
            </div>
            <!--End Info post -->
        </div>
    </article>

}

@*Controller'a Uı tarafından erişip işlem yapabiliriz*@ 
@if (Model.Count >= Blog.UI.Controllers.ControllerBase.BlogPostCountForEveryPage && Model.PageCount > 1
    || Model.PageCount > 1
    )
{
    <!-- Pagination -->
    <ul class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("/PostByTag/", new { id = Model[0].TagId, page }))
    </ul>
    <!-- End Pagination -->
}

@*@Html.PagedListPager(Model, page => Url.Action("Products",
    new { page, sortOrder = ViewBag.CurrentSort,  Category = ViewBag.Category, Brand = ViewBag.Brand }))*@
